<!DOCTYPE html>
<html lang="es
                {% if current_user.is_superadmin or current_user.is_admin_proyecto %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('admin_dashboard') }}">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('manage_projects') }}">Proyectos</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('manage_participants') }}">Participantes</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">Credenciales (Registro)</a></li>
                {% endif %}

                {% if current_user.is_superadmin or current_user.is_admin_proyecto or current_user.is_staff %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('scan') }}">Escanear</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('data') }}">Asistencias</a></li>
                {% endif %}

                {% if current_user.is_superadmin or current_user.is_admin_proyecto or current_user.is_consulta %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('reports') }}">Reportes</a></li>
                {% endif %}

                {% if current_user.is_superadmin %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('create_user') }}">Usuarios/Staff</a></li>
                {% endif %}
