{% extends "base.html" %}
{% block title %}Credenciales (Registro Histórico){% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12 text-center mt-5">
        <h2>Sección de Registro Histórica</h2>
        <p>Por favor utiliza la nueva pestaña de <strong>Participantes</strong> para realizar registros manuales o mediante Excel usando formularios dinámicos.</p>
        <a href="{{ url_for('manage_participants') }}" class="btn btn-primary">Ir a Participantes</a>
    </div>
</div>
{% endblock %}